/*  Dette er den første css-filen som rendres. Top-level modifikasjon.
    Ikke put spesifikk styling i denne filen. Bare generell styling. */

/* Variabler */
:root {
    --colorMain: white;
    --colorSecondary: #be2b38;
    --colorThird: #000000;
    --colorSecondaryHover: #e04d59;

    --tableCell_1: #ffffff;
    --tableCell_2: #f1eeee;
}

/* Forandring av fryktelige deafult-settings */
* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6, p, body, div {
    padding: 0;
    margin: 0;
}

button {
    background-color: inherit;
    border: none;
    color: inherit;
    font-weight: 400;
    font-size: inherit;
}

/* For å fjerne irriterende blå outline til knapper og tekstbokser som er trykket på. */
button:focus, input:focus {outline:0;}

/* Header-styling */
h1 {font-size: 6vh; font-weight: 600;}
h2 {font-size: 3.5vh;}
h3 {font-size: 3.5vh; font-weight: 400; text-align: center; padding: 3vh;}
h4 {font-size: 3vh; font-style: italic;}

/* Generell paragraf-tekst styling */
p{font-size: 3vh;}

/* hyperlink-styling */
a {font-size: 3vh; font-style: italic;}

table {
    border-spacing: 0;
}