.loader {
	border: 20px solid var(--colorSecondaryHover); /* Light grey */
	border-top: 20px solid var(--colorSecondary); /* Blue */
 	border-radius: 50%;
 	width: 60px;
 	height: 60px;
 	animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#reload-button {
	background-color: var(--colorSecondary);
	color: var(--colorMain);
	padding: 10px 20px;
}

#reload-button:hover {
	box-shadow: 5px 5px 30px lightgray;
}

.edu-tooltip {
	visibility: hidden;
	background-color: var(--colorSecondary);
	padding: 5px;
	max-width: 60px;
	height: 50px;
	position: absolute;
	z-index: 999;
	margin-top: -75px;
	margin-left: -50px;
	word-wrap: break-word;
	white-space: pre-wrap;
	opacity: 0;
	transition: opacity 0.2s;
}

.eduCat:hover .edu-tooltip {
	visibility: visible;
	opacity: 1
}
