/* Grid-layout for headeren. */

header {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "search title"
    "nav title";
}
header > div#search {grid-area: search;}
header > div#tabs   {grid-area: nav;}
header > div#title  {grid-area: title;}
/* ---------------------------------------- */
/* Grid-layout for sammenligningssøkefeltet */

.sammenligning > .header {
    display: grid;

    grid-template-columns: 2fr 4fr 1fr 4fr 1fr;
    grid-template-areas:
    "t s1 med s2 go";
}
.sammenligning > .header > .tabTitle {grid-area: t;}
.sammenligning > .header > .search1 {grid-area: s1;}
.sammenligning > .header > .binder {grid-area: med;}
.sammenligning > .header > .search2 {grid-area: s2;}
.sammenligning > .header > .submit {grid-area: go;}
