header {
    background-color: var(--colorSecondary);
    display: flex;
    flex-flow: row;
}
header button {
    color: var(--colorMain);
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
}
@media screen and (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
    }

}