.search-output {
	z-index: 1;
	position: absolute;
	box-sizing: border-box;
}

@media (max-width: 800px){
	.search-output {
		display: none;
	}
}

.search-output li {
	list-style: none;
}

.search-output-right {
	margin-left: 44vw;
}

.search-suggestion{
	display: grid;
	grid-gap: 10px;
	padding: 40px;
	background-color: var(--colorSecondary);
}

.search-suggestion:hover {
	background-color: var(--colorSecondaryHover);
}

.search-span {
	color: var(--colorMain);
	font-size: 0.8rem;
	
}