table {
  width: 100%;
}
/* font-size: 0.5vw; */

.green-highlight {
  background-color: #c6ffab;
}

.no-data {
  background-color: #f0ee8f;
}

@media (max-width: 800px) {
  table {
    display: flex;
    flex-direction: row;
  }
  tr {
    display: flex;
    flex-direction: column;
  }
  tbody {
    display: flex;
    flex-direction: row;
  }
  td, th {
    height: 50px;
  }
  
}
