#tabs > .active {
    display: flex;
    flex-direction: column;

    margin: 5vw;
}
#tabs > div:not(.active) {
    display: none;
}

#buttons .active {
    background-color: var(--colorMain);
    color: var(--colorThird);
}

.content {
    display: flex;
    flex-direction: column;

    background-color: var(--colorSecondary);
    color: var(--colorMain);
    padding: 5vw;
}
.oversikt .content {
    flex-direction: column;
    text-align: center;
}
.content a {
    display: block;
    color: var(--colorMain);
    text-decoration-line: none;
    text-align: center;
}
.info {
    flex: 2;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
}
.kilder {
    flex: 1;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
}
.content h1 {
    text-align: center;
}

.content button {
    width: 100%;
    font-size: 24px;
    background-color: var(--colorSecondaryHover);
    font-weight: 400;

    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-top: 5vh;
}
.search {
    padding: 5px;
    font-size: 24px;
}
.error-message {
    text-align: center;
    background-color: var(--colorSecondary);
    color: var(--colorMain);
    padding: 5vw;
}


@media screen and (min-width: 800px) {
    .content {
        flex-direction: row;
        margin-bottom: 5vw;
        padding: 2vw;
    }
    .search {
        font-size: 2vw;
        margin-top: 2vw;
        margin-bottom: 2vw;

    }
    .detaljer .search {
        padding: 2vh;
        width: 80%;
    }
    .detaljer button {
        width: 20%;
    }

    .content button {
        padding-top: 0;
        padding-bottom: 0;

        margin-top: 2vw;
        margin-bottom: 2vw;
    }
    .info {
        padding-right: 5vw;
    }
    .kilder {
        border-left: 2px dotted var(--colorMain);
    }

    .sammenligning h3 {
        font-size: 2vw;
    }
    .detaljer p:nth-child(1), .sammenligning p:nth-child(1) {
        margin: 0% 20% 5% 20%;
    }
}
