main
  #tabs
    div(class="intro active")
      include main/intro.jade
    .oversikt
      include main/oversikt.jade
    .detaljer
      include main/detaljer.jade
    .sammenligning
      include main/sammenligning.jade