.content
  h3.tabTitle Sammenlign
  input(class="search search2" type="text" placeholder="kommunenr.")
  h3.binder med
  input(class="search search2" type="text" placeholder="kommunenr.")
  button(type="submit" id="sammenligning" class="searchbutton") SØK
