header
  #search
    div
      input(autofocus="true", type="text", placeholder="search...")
      button(type="submit") &#9906
  #buttons
    button Introduksjon
    button Oversikt
    button Detaljer
    button Sammenligning
  #title
    div
      h1 Semesteroppgave
      h2 INFO134 - Klientprogrammering