head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Document
  link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet")
  link(rel="stylesheet" type="text/css" href="css/base.css")
  link(rel="stylesheet" type="text/css" href="css/header.css")
  link(rel="stylesheet" type="text/css" href="css/grids.css")
  link(rel="stylesheet" type="text/css" href="css/tabs.css")
  link(rel="stylesheet" type="text/css" href="css/nav.css")
  link(rel="stylesheet" type="text/css" href="css/footer.css")
  link(rel="stylesheet" type="text/css" href="css/table.css")
  script(src="js/main.js")
  script(src="js/components.js")